<header>
    <div id="logo-wrapper">
        <a href="./"><img id="logo" src="/assets/logo larger.png" alt="Logo"></a>

    </div>

    <nav>
        <ul id="navlist">
            <li class='res-16'><a class="navlinks" href="/cart">CART</a></li>
            <li class='res-16'><a class="navlinks" href="/profile">PROFILE</a></li>
            <li class='res-16'><a class="navlinks" href="/logout">LOG OUT</a></li>
        </ul>
    </nav>
</header>