<header>
    <div id="logo-wrapper">
        <a href="index.html"><img id="logo" src="assets/logo larger.png" alt="Logo"></a>

    </div>

    <nav>
        <ul id="navlist">
            <li class='res-16'><a class="navlinks" href="cart.html">CART</a></li>
            <li class='res-16'><a class="navlinks" href="profile.html">PROFILE</a></li>
            <li class='res-16'><a class="navlinks" href="logout.html">LOG OUT</a></li>
        </ul>
    </nav>
</header>