<div class='res-16' id="sidebar">
    <ul id="sidebarlist">
        <li><a class="navlinks" href="preenlistment.html">PRE-ENLISTMENT</a></li>
        <li><a class="navlinks" href="enrollment.html">ENROLLMENT</a></li>
        <li><a class="navlinks" href="degree-process.html">DEGREE PROCESS</a></li>
    </ul>
</div>