<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    {{#if addedStyles}}
    {{#each addedStyles}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
    {{/if}}
    <link href="https://fonts.googleapis.com/css?family=DM+Sans|DM+Serif+Display&display=swap" rel="stylesheet">
    <script src="/javascript/styling-script.js"></script>

    <title>{{ title }}</title>
</head>

<body class='res-12'>
    <div class="gradient-bg">
        {{{ body }}}
    </div>

    <script>
        responsiveFontSize("[class^='res-']");
        responsiveFontSize("h1", 60);
        responsiveFontSize("h2", 42);
        responsiveFontSize("h3", 20);
    </script>
</body>

</html>