<h1>Add a Class</h1>
<br>
<h1 style="color: red;">IMPORTANT: Change implementation to search-and-add</h1>
<div class="input-bar">
    <label for="addclass" class="input-bar-label">Course Code: </label>
    <input type="text" class="input-bar-input" id="addclass">
    <button type="button" class="input-bar-btn" id="add" onclick="addClass()">Add Class</button>
</div>

<br><br>

<div class="table-container">
    <table class='res-12' id="list">
        <tr>
            <th>Class Nbr</th>
            <th>Course Name</th>
            <th>Section</th>
            <th>Day/Time</th>
            <th>Room</th>
            <th>Professor</th>
            <th>Status</th>
        </tr>
    </table>
</div>
<br><br>

<input type="submit" id="submit" value="Proceed to Enrollment Cart"></button>


<script>
    var sample = { nbr: "123456", name: "GERIZAL", section: "X21", time: "MW 0730-0900", room: "GT200", prof: "", stat: "Open" };
    var course = [
        { nbr: "111111", name: "CSARCH1", section: "X22", time: "MW 0915-1045", room: "GT201", prof: "PERADILLA, M.", stat: "Open" },
        { nbr: "222222", name: "GEETHIC", section: "X22", time: "MW 1245-1415", room: "GT202", prof: "ESTEVES, M.", stat: "Open" },
        { nbr: "333333", name: "STMATH", section: "X22", time: "TH 0730-0900", room: "GT203", prof: "LAWAS, C.", stat: "Open" },
        { nbr: "444444", name: "STALGCM", section: "X22", time: "TH 0915-1045", room: "GT204", prof: "AZCARRAGA, A.", stat: "Open" },
        { nbr: "555555", name: "CCAPDEV", section: "X22", time: "TH 1100-1230", room: "GT205", prof: "ANTIOQUIA, A.", stat: "Closed" },
        { nbr: "666666", name: "GESPORT", section: "X22", time: "T 1300-1500", room: "GT206", prof: "CALABIO, V.", stat: "Open" }
    ];
    var ecourse = [
        { nbr: "777777", name: "NATLANG", section: "X22", time: "F 0915-1045", room: "GT206", prof: "", stat: "Open" }
    ];

    var tableList = document.querySelector('table#list');
    tableList.style.border = 'none';

    for (i = 0; i < course.length; i++) {
        var row = tableList.insertRow(-1);
        for (const key in course[i]) {
            if (course[i].hasOwnProperty(key)) {
                const element = course[i][key];
                var cell = row.insertCell(-1);
                cell.innerHTML = element;
            }
        }
        // Add remove button at last cell 
        var lastCell = row.insertCell(-1);
        lastCell.classList.add('lastCell');
        lastCell.innerHTML += "<a class='removebtn' href='#'>Remove</a>";


    }

    for (i = 0; i < ecourse.length; i++) {
        var row = tableList.insertRow(-1);
        for (const key in ecourse[i]) {
            if (ecourse[i].hasOwnProperty(key)) {
                const element = ecourse[i][key];
                var cell = row.insertCell(-1);
                cell.innerHTML = element;
            }
        }
        // Add remove button at last cell 
        var lastCell = row.insertCell(-1);
        lastCell.classList.add('lastCell');
        lastCell.innerHTML += "<a class='removebtn' href='#'>Remove</a>";
    }

    $(function () {
        $('table').on('click', 'a.removebtn', function (e) {
            e.preventDefault();
            $(this).parents('tr').remove();
            if (tableList.rows.length == 1) {
                var row = tableList.insertRow(-1);
                var cell = row.insertCell(-1);
                cell.classList.add('noRecords');
                cell.colSpan = tableList.rows[0].cells.length;
                cell.innerHTML = 'No more records.';
            }
        });
    });

    function addClass() {
        if (validate()) {
            alert("Class added to cart!");
            var x = document.querySelector('.noRecords');
            console.log(x);
            if (x)
                x.remove();
        }

    }

    function validate() {
        if (document.getElementById("addclass").value == "GERIZAL") {
            var row = tableList.insertRow(-1);

            for (const key in sample) {
                if (sample.hasOwnProperty(key)) {
                    var value = sample[key];
                    var cell = row.insertCell(-1);
                    cell.innerHTML = value;
                }
            }
            // Add remove button at last cell 
            var lastCell = row.insertCell(-1);
            lastCell.classList.add('lastCell');
            lastCell.innerHTML += "<a class='removebtn' href='#'>Remove</a>";

            return true;
        }
    }

    responsiveFontSize('a.removebtn', 12);
    responsiveFontSize('.noRecords', 16);
</script>