<h1>My Pre-Enlistment Shopping Cart</h1>
<br>
<div class="table-container">
    <table class="res-12" id="list">
        <tr>
            <th>Course Name</th>
        </tr>
        {{#each data}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </table>
</div>
<br>

<br><br>
{{!-- TODO: connect this to database by wrapping to a form --}}
<button onclick="savePreenlistment()">Save Pre-enlistment</button>




<script>
    function savePreenlistment() {
        alert('Pre-enlistment saved!');
    }

    function addRemoveRowEvent(table) {
        $(table).on('click', 'a.removebtn', function (e) {
            e.preventDefault();
            $(this).parents('tr').remove();
        });
    }

    function addRemoveBtn(table) {
        var rows = table.rows;
        for (i = 1; i < rows.length; i++) {
            var lastCell = rows[i].insertCell(-1);
            lastCell.classList.add('lastCell');
            lastCell.innerHTML += "<a class='removebtn' href='#'>Remove</a>";
        }
    }

    function populateTable(table) {
        // Regular courses first, followed by electives

        for (i = 0; i < course.length; i++) {
            var row = table.insertRow(-1);
            for (const key in course[i]) {
                if (course[i].hasOwnProperty(key)) {
                    const element = course[i][key];
                    var cell = row.insertCell(-1);
                    cell.innerHTML = element;
                }
            }
            addRemoveBtn(row);
        }

        for (i = 0; i < ecourse.length; i++) {
            var row = table.insertRow(-1);
            for (const key in ecourse[i]) {
                if (ecourse[i].hasOwnProperty(key)) {
                    const element = ecourse[i][key];
                    var cell = row.insertCell(-1);
                    cell.innerHTML = element;
                }
            }
            addRemoveBtn(row);
        }
    }


    // Courses table
    var tableList = document.querySelector('table#list');
    tableList.style.border = 'none';
    addRemoveBtn(tableList);
    addRemoveRowEvent(tableList);
</script>