<!-- This will be the default content if no transactions are available. -->
<!-- For milestone 2, cart_enrollment and cart_preenlistment will be passed here through a GET request. -->
<h1>You have no items in your cart.</h1>
<br>
<p>Proceed to <a href="/enrollment">Enrollment</a> or <a href="/preenlistment">Pre-enlistment</a>
    page to make transactions.</p>