<h1>Class Schedule</h1>
<br>
<h2>Important dates to remember:</h2>
<ul>
    <li> Midterm Exams : February 24-28, 2020</li>
    <li> Final Exams: April 2-24, 2020</li>
</ul>
<br><br>

<div class="img">
    <h3>Weekly View</h3><br>
    
    <br><br><br>
    <h3>Tabular View</h3><br>
    <div class="table-container">
        <table class="res-12" id="coursetable">
            <th>Class Nbr</th>
            <th>Section</th>
            <th>Code</th>
            <th>Days</th>
            <th>Times</th>
            <th>Room</th>
            <th>Faculty</th>
        </table>

    </div>

    <br><br>
    <a href="/assets/weeklyschedule.jpg" download>
        <button type="button" title="Download Calendar View" class="btn btn-indigo btn-lg"
            style="float: right;">Download</button>
    </a>
</div>


<script>
    var course = [
        { nbr: "111111", section: "X22", name: "CSARCH1", days: "MW", time: "0915-1045", room: "GT201", prof: "PERADILLA, M." },
        { nbr: "222222", section: "X22", name: "GEETHIC", days: "MW", time: "1245-1415", room: "GT202", prof: "ESTEVES, M." },
        { nbr: "333333", section: "X22", name: "STMATH", days: "TH", time: "0730-0900", room: "GT203", prof: "LAWAS, C." },
        { nbr: "444444", section: "X22", name: "STALGCM", days: "TH", time: "0915-1045", room: "GT204", prof: "AZCARRAGA, A." },
        { nbr: "555555", section: "X22", name: "CCAPDEV", days: "TH", time: "1100-1230", room: "GT205", prof: "ANTIOQUIA, A." },
        { nbr: "666666", section: "X22", name: "GESPORT", days: "T", time: "1300-1500", room: "GT206", prof: "CALABIO, V." }
    ];


    // Populating the table
    var courseTable = document.querySelector("#coursetable");
    course.forEach(element => {
        var row = courseTable.insertRow(-1);
        for (const key in element) {
            if (element.hasOwnProperty(key)) {
                const value = element[key];
                var cell = row.insertCell(-1);
                cell.innerHTML = value;
            }
        }
    });


</script>