<h1>Class Schedule</h1>
<br>
<h2>Important dates to remember:</h2>
<ul>
    <li> Midterm Exams : February 24-28, 2020</li>
    <li> Final Exams: April 2-24, 2020</li>
</ul>
<br><br>

<div class="img">
    <h3>Calendar View</h3><br>
    <img src="/assets/weeklyschedule.jpg" class="img-fluid" alt="weekly schedule" width="100%">
    <br><br><br>
    <h3>Table View</h3><br>
    <img src="/assets/weeklysched_table.jpg" class="img-fluid" alt="weekly schedule" width="100%">
    <br><br>
    <a href="/assets/weeklyschedule.jpg" download>
        <button type="button" title="Download Calendar View" class="btn btn-indigo btn-lg"
            style="float: right;">Download</button>
    </a>
</div>