{{#section "head"}}
<!-- FONT AWESOME -->
<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

<!-- FULL CALENDAR -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>

<!-- AXIOS -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- TABULATOR -->
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
{{/section}}

<h1>Class Schedule</h1>
<br>

<div class="">
  <h2>Weekly View</h2><br>
  <div id="enrollment-calendar"></div>

  <br><br><br>
  <h3>Tabular View</h3><br>
  <div id="enrolled-courses-table" class="table-striped table-bordered"></div>

  <br><br>
  <a href="/assets/weeklyschedule.jpg" download>
    <button type="button" title="Download Calendar View" class="btn btn-primary">Download</button>
  </a>
</div>

<script src="/javascript/helpers/calendar-helper.js"></script>
<script src="/javascript/pages/class-schedule.js"></script>