<h1>Course Offerings</h1>
<br>
<input type="text" class="res-16 searchbar" id="q" onchange="search()" placeholder="Enter course code"
    title="Enter course code">
<div class="table-container">
    <table class='res-12' id="myTable">
        <tr class="header">
            <th>Course</th>
            <th>Section</th>
            <th>Day/s</th>
            <th>Time</th>
            <th>Room</th>
            <th>Enl Cap</th>
            <th>Enrolled</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>CSARCH1</td>
            <td>X22</td>
            <td>MW</td>
            <td>0915-1045</td>
            <td>GT203</td>
            <td>15</td>
            <td>10</td>
            <td>OPEN</td>
        </tr>
        <tr>
            <td>GEETHIC</td>
            <td>X22</td>
            <td>MW</td>
            <td>1245-1415</td>
            <td>GT203</td>
            <td>31</td>
            <td>31</td>
            <td>CLOSED</td>
        </tr>
        <tr>
            <td>STMATH</td>
            <td>X22</td>
            <td>TH</td>
            <td>0730-0900</td>
            <td>GT206</td>
            <td>25</td>
            <td>25</td>
            <td>CLOSED</td>
        </tr>
        <tr>
            <td>STALGCM</td>
            <td>X22</td>
            <td>TH</td>
            <td>0915-1045</td>
            <td>GT206</td>
            <td>15</td>
            <td>12</td>
            <td>OPEN</td>
        </tr>
        <tr>
            <td>CCAPDEV</td>
            <td>X22</td>
            <td>TH</td>
            <td>1100-1230</td>
            <td>MRELBA</td>
            <td>17</td>
            <td>15</td>
            <td>OPEN</td>
        </tr>
        <tr>
            <td>GESPORT</td>
            <td>X22</td>
            <td>T</td>
            <td>1300-1500</td>
            <td>CVDCRT</td>
            <td>40</td>
            <td>38</td>
            <td>OPEN</td>
        </tr>

    </table>
</div>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.querySelector(".searchbar");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = ""; //subject found in table
                } else {
                    tr[i].style.display = "none"; //subject not available
                }
            }
        }
    }

    function search() {
        var xhr = new XMLHttpRequest();
        var query = document.getElementById('q').value.toUpperCase();
        var url = `/enrollment/courseofferings/search?q=${query}`;

        // set timeout to 2 seconds
        //xhr.timeout = 1000*2;

        xhr.onreadystatechange = () => {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = xhr.response;
                console.log(xhr.response);
                var table = document.querySelector('#myTable');

                // append data in the following order:
                const keys = ['courseCode', 'section', 'days', 'startTime', 'endTime', 'room', 'enlCap', 'enrolled', 'status'];
                for (let r of response) {
                    var row = table.insertRow(-1);
                    for (let key of keys) {
                        var cell = row.insertCell(-1);
                        cell.innerHTML = r[key];
                    }
                }


            }
        };
        xhr.open('GET', url, true);
        xhr.responseType = "json";
        xhr.timeout = 1000 * 2;
        xhr.send(query);
    }
</script>