<h1>Degree Process</h1>
<br>
<h3>Document Checklist</h3>
<br>
<div class="table-container">
    <table class='res-12' id="myTable">
        <tr class="header">
            <th>Document</th>
            <th>Submitted (Y/N)</th>
            <th>Submission Date</th>
            <th>Submitted to</th>

        </tr>
        <tr id="subject">
            <td>Transcript of Records</td>
            <td>Yes</td>
            <td>02/29/2020</td>
            <td>Ms. Mylene</td>
        </tr>
        <tr id="subject">
            <td>Random Document</td>
            <td>No</td>
            <td> </td>
            <td> </td>
        </tr>
    </table>
</div>

<br><br>

<h3>Request a Document</h3>
<br>
<div class="input-bar">
    <label for="documents" class="input-bar-label">Select a document to request</label>
    <select class="input-bar-input" id="documents">
        <option value="Transcript of Records">Transcript of Records</option>
        <option value="Certificate of Good Morals">Certificate of Good Morals</option>
    </select>

    <button class="input-bar-btn" onclick="NewDoc()">Request</button>
</div>
<br>
<div class="table-container">
    <table class="res-12" id="reqs">
        <tr>
            <th>Date/Time</th>
            <th>Document</th>
            <th>Status</th>
        </tr>
    </table>
</div>

<br><br>

<br>
<h3>Documents Overview</h3>
<br>
<div class="table-container">
    <table class='res-12'>
        <tr>
            <th>Report Request Nbr</th>
            <th>Transcript Type</th>
            <th>Request Date</th>
            <th>Requested</th>
            <th>Print Date</th>
            <th>Output Destination</th>
        </tr>
        <tr>
            <td>00000001</td>
            <td>UNOFF</td>
            <td>11/20/2018</td>
            <td>11/21/2018</td>
            <td></td>
            <td>Page</td>
        </tr>
        <tr>
            <td>00000002</td>
            <td>ADV</td>
            <td>01/02/2019</td>
            <td>01/15/2019</td>
            <td></td>
            <td>Page</td>
        </tr>
        <tr>
            <td>00000003</td>
            <td>ADV</td>
            <td>09/24/2015</td>
            <td>09/28/2015</td>
            <td>09/30/2015</td>
            <td>Print</td>
        </tr>
        <tr>
            <td>00000004</td>
            <td>UNOFF</td>
            <td>11/20/2018</td>
            <td>11/21/2018</td>
            <td></td>
            <td>Page</td>
        </tr>
        <tr>
            <td>00000005</td>
            <td>ADV</td>
            <td>08/11/2019</td>
            <td>08/17/2019</td>
            <td>08/20/2019</td>
            <td>Print</td>
        </tr>
    </table>
</div>

<script>
    function NewDoc() {
        var table = document.getElementById("reqs");
        var row = table.insertRow(table.getElementsByTagName('tr').length);
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        cell0.innerHTML = new Date();
        cell1.innerHTML = document.getElementById("documents").value;
        cell2.innerHTML = "Request Sent";
    }
</script>