<h1 class='res-36'>Enrollment</h1>
<br><br>

<div id="todo-container">
    <div class="todo-item">
        <a href="/classschedule" title="Weekly Schedule">
            <div id="schedule"></div>
            <p>View Schedule</p>
        </a>
    </div>

    <div class="todo-item">
        <a href="/addclass" title="Add a Class">
            <div id="addclass"></div>
            <p>Add Classes</p>
        </a>
    </div>
    <div class="todo-item">
        <a href="/dropclass" title="Drop a Class">
            <div id="dropclass"></div>
            <p>Drop Classes</p>
        </a>
    </div>
    <div class="todo-item">
        <a href="/requestclass" title="Request a Class">
            <div id="requestclass"></div>
            <p>Request A Class</p>
        </a>
    </div>
    <div class="todo-item">
        <a href="/courseofferings" title="Course Offerings">
            <div id="courseofferings"></div>
            <p>View Course Offerings</p>
        </a>
    </div>

</div>