<h1 class='res-48'>Welcome, Rethaniel!</h1>
<br>
<iframe id="calendar"
    src="https://calendar.google.com/calendar/embed?src=dlsu.edu.ph_b8t1hb67tfh7a69ra0j2p9vso4%40group.calendar.google.com&ctz=Asia%2FManila"
    style="border: 0" width="100%" height="600" frameborder="0" scrolling="no">
</iframe>