<div class="form-container">
    <h2 id="session-header">Log in</h2>
    <form id="login-form-student" method="POST" action="/login">
        <label class='res-8' for="idNumber">ID NUMBER</label><br>
        <input class='res-12' type="idNumber" id="idNumber" name="idNumber"><br>
        <label class='res-8' for="password">PASSWORD</label><br>
        <input class='res-12' type="password" id="password" name="password"><br>
        <br>
        <p id="errMsg">{{errMsg}}</p>
        <br><br>
        <div id="wrap-button">
            <input type="submit" class='res-8' id="submit" value="LOG IN">
        </div>
    </form a>
    <br><br>
    <p class='res-8' id="login-mod"><a href="/login?mod=true">(Moderator? Click here)</a></p>
</div>

{{!-- <script type="text/javascript" src="/javascript/validate.js"></script> --}}