<div class="logout-container">
    <h2 id="session-form-header">Thank you,<br>Lasallian Achiever!</h2>
    <br>
    <div class="center-button">
        <a href="/login"><input type="button" name="login" class='res-8' id="login" value="LOG IN"></a>
    </div>
</div>