<div class="logout-container">
    <h1 id="session-header">Thank you, Lasallian Achiever!</h1 >
    <br>
    <a href="./login"><input type="button" name="login" class='res-8' id="login" value="LOG IN"></a>
</div>
