{{#section "head"}}
<!-- AXIOS -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- TABULATOR -->
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>
{{/section}}

<h1>Pre-Enlistment</h1>
<br>
<div class="container px-0">
  <div class="row">
    <div class="col-12 col-lg-8">
      <form id="search-course-form" method="GET">
        <div class="form-group">
          <div class="input-group">
            <input type="search" id="search-courses-tf" placeholder="Search course code..." name="courseCode"
              class="form-control">
            <div class="input-group-append">
              <button type="submit" id="search-course-btn" class="btn btn-primary">Search</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-4  text-center text-md-left">
      <a href="/preenlistment/preenlisted-courses" class="btn btn-outline-primary w-100">View your pre-enlisted
        courses</a>
    </div>
  </div>
</div>
<br>

<input type="hidden" id="student-id-hidden" name="_id" value="{{_id}}">
<div id="preenlistment-courses-table"></div>
<br>

<script src="/javascript/helpers/form-helper.js"></script>
<script src="/javascript/pages/preenlistment.js"></script>