<h1>Pre-Enlistment</h1>
<br>
<h2>My Courses</h2><br>
<form action="/cart/preenlistment" method="GET">
    <div class="table-container">
        <table class="res-12" id="list">
            <tr>
                <th>Course Name</th>
            </tr>
        </table>
    </div>
    <br>

    <br><br>
    <h2>Add a Subject to Pre-Enlist</h2>
    <br>
    <div class="input-bar">
        <label for="addclass" class="input-bar-label">Course Code</label>
        <input type="text" id="add" class="input-bar-input">
        <button type="button" class="input-bar-btn" onclick="addClass('input#add')">Add</button>
    </div>
    <br><br>

    <input type="submit" id="submit" value="Proceed to Pre-Enlistment Cart">
</form>

<script>
    // course and ecourse will get data from database
    var course = [
        { name: "CSARCH1" },
        { name: "GEETHIC" },
        { name: "STMATH" },
        { name: "STALGCM" },
        { name: "CCAPDEV" },
        { name: "GESPORT" }
    ];

    var ecourse = [
        { name: "NATLANG" }
    ];

    function addClass(input) {
        if (document.querySelector(input).value)
            alert("Class added to cart!");
    }

    var tableList = document.querySelector('table#list');
    tableList.style.border = 'none';

    for (let i = 0; i < course.length; i++) {
        var row = tableList.insertRow(-1);
        for (const key in course[i]) {
            if (course[i].hasOwnProperty(key)) {
                const element = course[i][key];
                var cell = row.insertCell(-1);

                // Append an input element for each cell so that the data can be submitted
                var input = document.createElement('input');
                input.classList.add('res-12');
                input.type = "text";
                input.readOnly = true;
                input.name = key;

                console.log(input);

                cell.append(input);
                input.value = element;
            }
        }
    }

    for (let i = 0; i < ecourse.length; i++) {
        var row = tableList.insertRow(-1);
        for (const key in ecourse[i]) {
            if (ecourse[i].hasOwnProperty(key)) {
                const element = ecourse[i][key];
                var cell = row.insertCell(-1);
                // Append an input element for each cell so that the data can be submitted
                var input = document.createElement('input');
                input.classList.add('res-12');
                input.type = "text";
                input.readOnly = true;
                input.name = key;

                console.log(input);

                cell.append(input);
                input.value = element;
            }
        }
    }
</script>