{{#section "head"}}

<!-- MATERIAL ICONS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- AXIOS -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{{/section}}

<h1>Request a Class</h1>
<br>
<p>Students are allowed to petition for a subject to be offered for the next academic term. Fill out the form below and
  wait for further announcements. Processing of requests may take 10-14 days.</p>

<form class="bg-white border rounded p-4" id="request-class-form">
  <div class="form-row align-items-end">
    <div class="form-group col-md-4">
      <label class="" for="subject">Subject to be Requested</label>
      <input class="form-control" type="text" id="subject" name="subject">
      <div id="subject-error" class="invalid-feedback"></div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <button type="submit" id="request-class-btn" class="btn btn-primary">Submit
        Petition</button>
    </div>
  </div>
</form>

<script src="/javascript/helpers/form-helper.js"></script>
<script src="/javascript/pages/request-class.js"></script>