<h1>Request a Class</h1>
<br>
<p>Students are allowed to petition for a subject to be offered for the next academic term. Fill out the form below and
    wait for further announcements. Processing of requests may take 10-14 days.</p>
<p>Kindly upload the following documents:<br>1. Special Class Form<br>2. ID of Legal Guardian</p>
<br>

<form class="form-container">
    <label class="res-8" for="fullname">Full name</label>
    <input class="res-12" type="text" id="fullname" name="fullname"><br><br>
    <label class="res-8" for="idnumber">ID Number</label>
    <input class="res-12" type="text" id="idnumber" name="idnumber"><br><br>
    <label class="res-8" for="degree">Year/Degree Program</label>
    <input class="res-12" type="text" id="degree" name="degree"><br><br>
    <label class="res-8" for="subject">Subject to be Requested</label>
    <input class="res-12" type="text" id="subject" name="subject"><br><br>
    <label class="res-8" for="fileupload">Upload Files</label>
    <input class="res-12" type="file" id="fileupload" name="fileupload">
    {{!-- <button id="add" onclick="myFunctionAlert()">Submit File</button> --}}
    <br><br>

    <div id="wrap-button">
        <input class="res-8" type="button" id="submit" onclick="myFunctionAlertPetition()" value="Submit Petition">
    </div>
</form>

<script>
    function myFunctionAlert() {
        alert("File Uploaded!");
    }

    function myFunctionAlertPetition() {
        alert("Petition submitted!");
    }
</script>