body {
    font-family: "DM Sans", sans-serif;
}

table {
    border: none;
}

#add-student-header {
    padding-top: 3rem;
    text-align: center;
}

#student-list-header {
    margin-right: 1rem;
}

#student-list-header-container {
    display: flex;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container .input-container {
    display: inline-block;
    max-width: 30%;
}

/* ----------------Responsive---------------- */

@media screen and (max-width: 375px) {
    #student-list-header-container {
        flex-direction: column;
        align-items: flex-start;
    }
}