h1#student-name {
    font-weight: bold;
    letter-spacing: -0.05em;
}

p#id-num {
    font-size: calc(.75rem + 1vw);
}

/* Style the tab */

.tab {
    overflow: auto;
}

/* Style the buttons inside the tab */

.tab>button {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.155rem;
    background-color: inherit;
    float: left;
    color: var(--faux-black);
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-right: 15px;
}

.tab button:hover {
    border: 2px solid var(--faux-black);
}

.tab button.active {
    border: 2px solid var(--faux-black);
}

/* Style the tab content */

.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    -webkit-animation: fadeEffect 0.1s;
    animation: fadeEffect 0.1s;
}

/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ----------------Personal Information---------------- */

#info-container {
    display: flex;
}

#profile-pic {
    max-width: 2in;
    max-height: 2in;
    flex-grow: 3;
}

#profile-pic img {
    width: 2in;
}

#student-info {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* ----------------Calendar---------------- */

.time-slot {
    grid-column: times;
}

.track-slot {
    display: none;
    /* hidden on small screens and browsers without grid support */
}

@supports (display: grid) {
    @media screen and (min-width: 700px) {
        .track-slot {
            display: block;
            padding: 10px 5px 5px;
            position: sticky;
            top: 0;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
}

/* Small-screen & fallback styles */

.session {
    margin-bottom: 1em;
}

@supports (display: grid) {
    @media screen and (min-width: 700px) {
        .session {
            margin: 0;
        }
    }
}

.session-title, .session-time, .session-track, .session-presenter {
    display: block;
}

.session-title, .time-slot {
    margin: 0;
    font-size: 1em;
}

.session-title a {
    color: #fff;
    text-decoration-style: dotted;
}

.track-slot, .time-slot {
    font-weight: bold;
    font-size: 0.75em;
}

.course {
    background-color: #1259b2;
    color: #fff;
    padding: 0.5em;
    border-radius: 2px;
    font-size: 14px;
}

.track-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #000;
    box-shadow: none;
}

.text {
    max-width: 750px;
    font-size: 18px;
    margin: 0 auto 50px;
}